node_modules
sessions/*
media/GooglePhotos
media/People
media/Photos
media/Pictures
media/GooglePhotos
media/Temp
media/Tests
dist/*
pigallery.db*
pigallery.log
setup.json
config.json
models.json
pnpm-lock.yaml
tests
backup/*
