backup/*
config.json
data
dist/*
media/GooglePhotos
media/GooglePhotos
media/People
media/Photos
media/Pictures
media/Temp
media/Tests
models.json
node_modules
package-lock.json
pigallery.db*
pigallery.log
pnpm-lock.yaml
sessions/*
setup.json
tests
