{
  "users": [
    { "email": "user@example.com", "passwd": "test", "admin": true, "mediaRoot": "media/" },
    { "email": "share@pigallery.ddns.net", "passwd": "d1ff1cuTpa33w0RD", "admin": false, "mediaRoot": "share/" }
  ],
  "locations": [
    { "folder": "Pictures/Snapseed/", "match": "" },
    { "folder": "Pictures/Camera Roll/", "match": "-01.jp" },
    { "folder": "People/", "match": "", "recursive": true },
    { "folder": "Photos/", "match": "", "recursive": true }
  ],
  "server": {
    "httpPort": 10010,
    "httpsPort": 10011,
    "http2Port": 10012,
    "allowPWA": true,
    "logFile": "pigallery.log",
    "authForce": true,
    "allowedImageFileTypes": [ ".jpeg", ".jpg" ],
    "mediaRoot": "media/",
    "defaultLimit": 500,
    "db": "pigallerydb.nedb",
    "descriptionsDB": "assets/WordNet-Synset.json",
    "citiesDB": "assets/Cities.json",
    "warmupImage": "assets/warmup.jpg",
    "forceHTTPS": false,
    "SSLKey": "cert/private.pem",
    "SSLCrt": "cert/fullchain.pem"
  },
  "cookie": {
    "path": "./sessions",
    "secret": "whaTEvEr!42", "proxy": false, "resave": false, "rolling": true, "saveUninitialized": false,
    "cookie": { "httpOnly": false, "sameSite": true, "secure": false, "maxAge": 6048000001000 }
  }
}
