[Unit]
Description=pigallery
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/vlado/.nvm/versions/node/v14.0.0/bin/node server/server.js
WorkingDirectory=/home/vlado/dev/pigallery
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60
User=vlado

[Install]
WantedBy=multi-user.target
