[Unit]
Description=pigallery
After=network.target network-online.target

[Service]
Type=simple
Environment="NODE_ENV=production"
ExecStart=/home/demo/.nvm/versions/node/v15.4.0/bin/node server/pigallery.js
WorkingDirectory=/home/demo/pigallery
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300
User=demo
StandardOutput=null

[Install]
WantedBy=multi-user.target
