[Unit]
Description=pigallery
After=network.target network-online.target

[Service]
Type=simple
Environment="NODE_ENV=production"
ExecStart=/home/vlado/.nvm/versions/node/v16.0.0/bin/node --no-deprecation --trace-uncaught --trace-warnings --unhandled-rejections=throw --stack-size=8192 server/pigallery.js
WorkingDirectory=/home/demo/pigallery
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300
User=demo
StandardOutput=null

[Install]
WantedBy=multi-user.target
